{% extends "layout.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href={{url_for('static', filename='css/d3.css')}}>
{% endblock %}    

{% block content %}
  <div class="jumbotron">
    <h1><span class="text-primary">Dash+</span> <small>visual display of running data</small></h1>
    <p class="lead">A python web application built with <a href="http://flask.pocoo.org/">Flask</a> that imports <a href="http://nikeplus.nike.com/plus/">Nike+</a> running data into a NoSQL database (<a href="http://www.mongodb.org/">MongoDB</a>) and uses <a href="http://d3js.org/">D3.js</a> to <a href="{{url_for("show_runs")}}">visualize</a> and <a href="{{url_for("show_stats")}}">analyze</a> it. Source code can be found on <a href="https://github.com/synergenz/dash">github</a>.</p>
  </div>

  {% if data %}
    <div class="page-header">
      <h1>Records <small>all time</small></h3>
    </div>

    <!-- badges -->
    <div id="overview">
      <div class="row">
        <div class="col-md-3 col-sm-3 mybadge" id="total">          
            <div class="mylabel">total</div>
            <span class="number">23.7</span>
            km
        </div>
        <div class="col-md-3 col-sm-3 mybadge" id="farthest">
            <div class="mylabel">farthest</div>
            <span class="number">23.7</span>
            km
        </div>
        <div class="col-md-3 col-sm-3 mybadge" id="avgdist">
            <div class="mylabel">avg distance</div>
            <span class="number">23.7</span>
            km
        </div>
        <div class="col-md-3 col-sm-3 mybadge" id="avgspeed">
            <div class="mylabel">avg speed</div>
            <span class="number">23.7</span>
            km/h
        </div>
      </div>
    </div>

    <!-- last n -->
    <div class="page-header">
      <h1>Last 3 runs <small>overview</small></h3>        
    </div>
    <div>
      <div id="table"></div>
    </div>

  {% endif %}
{% endblock %}

{% block js_footer %}
	<script type="text/javascript" src={{url_for('static', filename='js/d3.v3.min.js')}}></script>
  <script type="text/javascript" src={{url_for('static', filename='js/d3table.js')}}></script>  
  <script type="text/javascript" src={{url_for('static', filename='js/overview.js')}}></script>
  <script type="text/javascript">records({{data|safe}});</script>
{% endblock %}