{% extends "layout.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href={{url_for('static', filename='css/d3.css')}}>
  <link rel="stylesheet" href={{url_for('static', filename='css/leaflet.css')}}>
{% endblock %}

{% block content %}
  {% if data %}
    <div class="page-header">
      <h1>Selected run <small>time profile</small></h1>
      <p>Speed in km/h and elevation in m as a function of distance.</p>
    </div>
    <div id="duallines">    	
    </div>
  {% endif %}
{% endblock %}

{% block side1 %}
  {% if data %}
    <div id="detail">
    	<div class="textdata"></div>    	
      <a href=""></a>
    </div>

    <div id="map" style="height:400px;" style="padding: 10px;"></div>
  {% endif %}
{% endblock %}

{% block js_footer %}
	<script type="text/javascript" src={{url_for('static', filename='js/d3.v3.min.js')}}></script>
  <script type="text/javascript" src={{url_for('static', filename='js/leaflet.js')}}></script>
  <script type="text/javascript" src={{url_for('static', filename='js/tile.stamen.js')}}></script>
	<script type="text/javascript" src={{url_for('static', filename='js/d3table.js')}}></script>		
  <script type="text/javascript" src={{url_for('static', filename='js/d3dual.js')}}></script> 
  <script type="text/javascript">dualFromJson("#duallines", {{data|safe}});</script>
  <script type="text/javascript">
    var data = {{data|safe}}
    var coords = data.stats.location
    var map = L.map('map').setView([coords.latitude, coords.longitude],14);
    
    /*L.tileLayer('http://{s}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);*/

    var layer = new L.StamenTileLayer("toner-lite");
    map.addLayer(layer);

    latlon=data.gps.map(function(x){return [x.latitude, x.longitude]});
    polyline = L.polyline(latlon, {color : 'red'}).addTo(map);
    //map.fitBounds(polyline.getBounds());

    /*L.tileLayer('http://{s}.tiles.mapbox.com/v3/MapID/997/256/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18
}).addTo(map);*/
  </script>  
{% endblock %}