{% extends "layout.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href={{url_for('static', filename='css/d3.css')}}>
{% endblock %}
{% block content %}
  {% if data %}
    <div id="datebars">
    	<h3>Overview</h3>
    	<p> Distance of all runs in km arranged by date. Use the brush to focus on a specific range of runs and view the corresponding statistics on the right. Click on any bar to view the selected run in more detail. </p>
    </div>
  {% endif %}
{% endblock %}

{% block detail %}
  {% if data %}
    <div id="detail">
    	<h3>Statistics</h3>
    	<p>Basic stastistics across <span id="numruns">-</span> selected runs:</p>
    	<div class="textdata"></div>
    </div>
  {% endif %}
{% endblock %}

{% block js_footer %}
	{{ super() }}
	<script type="text/javascript" src={{url_for('static', filename='js/d3.v3.min.js')}}></script>
	<script type="text/javascript" src={{url_for('static', filename='js/d3bars.js')}}></script>	
	<script type="text/javascript" src={{url_for('static', filename='js/crossfilter.min.js')}}></script>	
	<script type="text/javascript" src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js"></script>
	<script type="text/javascript">barsFromJson("#datebars", {{data|safe}})</script>
	<!--
	<script type=text/javascript>
	  $(function() {
	    $('a#sync').bind('click', function() {
	      $.getJSON($SCRIPT_ROOT + '/sync_ajax', {
	        max: $('input[name="maxruns"]').val(),
	      }, function(data) {
	        $("#result").text(data.result);
	      });
	      return false;
	    });
	  });
	</script>
	<p><input type=text size=5 name=maxruns> : <span id=result>?</span>
	<p><a href=# id=sync>Sync</a>
	-->
{% endblock %}