{% extends "layout.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href={{url_for('static', filename='css/d3.css')}}>
{% endblock %}
{% block content %}
  {% if data %}
    <div id="datebars">
    	<h3>Overview</h3>
    	<p> Distance of all runs in km arranged by date. Click on bars to view the corresponding run in detail. </p>
    </div>
  {% endif %}
{% endblock %}

{% block detail %}
  {% if data %}
    <div id="detail">
    	<h3>Detail</h3>
    	<p>Basic stastistics across selected range of runs:</p>
    	<div class="textdata"></div>
    </div>
  {% endif %}
{% endblock %}

{% block js_footer %}
	<script type="text/javascript" src={{url_for('static', filename='js/d3.v3.min.js')}}></script>
	<script type="text/javascript" src={{url_for('static', filename='js/d3bars.js')}}></script>	
	<script type="text/javascript" src={{url_for('static', filename='js/crossfilter.min.js')}}></script>	
	<script type="text/javascript" src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js"></script>
	<script type="text/javascript">barsFromJson("#datebars", {{data|safe}})</script>
{% endblock %}