{% extends "layout.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href={{url_for('static', filename='css/d3.css')}}>
{% endblock %}

{% block content %}
  {% if data %}
    <div class="page-header">
      <h1>Analysis <small>correlations</small></h1>
      <p>Scatter plot and linear regression for a selected pair of run parameters. The third and fourth parameters are encoded in the size and color of dots. Below, histograms are shown for the relevant variables.</p>
    </div>
    <div id="scatterplot">    	
      <div class="varselector"></div>
    </div>
  {% endif %}
{% endblock %}

{% block side1 %}
  {% if data %}
    <div id="detail">
    	<h3>Detail</h3>
    	<div class="textdata"></div> 
      <a href=""></a>
    </div>
  {% endif %}
{% endblock %}

{% block js_footer %}
	<script type="text/javascript" src={{url_for('static', filename='js/d3.v3.min.js')}}></script>
  <script type="text/javascript" src={{url_for('static', filename='js/d3.tip.min.js')}}></script>
  <script type="text/javascript" src={{url_for('static', filename='js/sylvester.min.js')}}></script>
	<script type="text/javascript" src={{url_for('static', filename='js/d3table.js')}}></script>			
  <script type="text/javascript" src={{url_for('static', filename='js/d3scatter.js')}}></script>
  <script type="text/javascript">scatterFromJson("#scatterplot", {{data|safe}});</script>
  <script type="text/javascript">histAll("#scatterplot", {{data|safe}});</script>
{% endblock %}